.container {
  display: flex;
  border: 3px solid white;
  border-radius: 20px;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
  margin: 0;
}
li {
  padding: 0px 15px 5px 15px;
  box-sizing: content-box;
  border-bottom: 3px solid transparent;
  /* transition: border-color 0.25s linear; */
}
li:active {
  border-color: white;
}
